.movieDetails_wraper {
    width: 100%;
}

.page_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: solid #bababa 15px;
    margin-bottom: 25px;
}

    @media (max-width: 991px) {
        .page_row {
            flex-direction: column;

        }
    }

.media_wrapper {
    align-self: center;
    margin-bottom: 20px;
}

.content_wrapper {
    flex: 2;
}

    @media (max-width: 1199px) {
        .content_wrapper {
            flex: 1;
            margin: 0 30px 0 0;
        }
    }

    @media (max-width: 991px) {
        .content_wrapper {
            margin: 0 0 30px 0;
        }
    }

.media {
    display: flex;
    flex-direction: column;
    padding: 0 0 25px 25px;
}

    @media (max-width: 1199px) {
        .media {
            padding: 0 0 25px 0;
            align-items: center;

        }
    }

.movie_poster {
    max-width: 300px;
    margin: 20px 0;
    border: 1px solid #bababa;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

.movie_poster img {
    width: 100%;
}

.content {
    max-width: 400px;
    padding: 15px;
    border: 1px solid #bababa;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

    @media (max-width: 991px) {
        .content {
            width: 250px;
        }
    }

.content h2 {
    margin-bottom: 25px;
    font-size: 32px;
}

    @media (max-width: 1199px) {
        .content h2 {
          font-size: 28px;
        }
    }

    @media (max-width: 991px) {
        .content h2 {
            font-size: 22px;
        }
    }

.content p {
    font-size: 20px;
}

    @media (max-width: 991px) {
        .content p {
            font-size: 15px;
        }
    }



.btn_edit {
    color: #fff;
    background-color: #007bff;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    width: 300px;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

.btn_edit:hover {
    color: white;
    text-decoration: none;
    background-color: #0c4e96;
}

.characters {
    display: block;
}

.characters h3 {
    color: #0c4e96;
    margin: 30px;
    text-align: center;
    }

.characters_wrapper {
    margin: 50px;
    padding: 15px;
    border: 1px solid #bababa;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

    @media (max-width: 991px) {
        .characters_wrapper {
            width: 90%;
            margin: 20px auto;
        }

        .characters_wrapper h4 {
            text-align: center;
        }

    }

.characters_wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    @media (max-width: 991px) {
        .characters_wrapper > div {
            flex-direction: column;
            text-align: center;
        }
    }

.character_poster {
    width: 300px;
    height: 200px;
    object-fit: contain;
    border: none;
    box-shadow: none;
}

    @media (max-width: 1199px) {
        .character_poster {
          width: 250px;
        }
    }

.character_description {
    width: 500px;
}

    @media (max-width: 1199px) {
        .character_description {
          width: 310px;
        }

        .character_description p {
            font-size: 14px;
        }
    }

    @media (max-width: 991px) {
        .character_description {
            margin: auto;
        }

        .character_description p {
            font-size: 13px;

        }
    }

.edit {
    display: block;
    padding: 0 25px 30px;
    background-color: white;
    border: solid #bababa 15px;
}

.edit .btn_edit {
    text-align: center;
}

.preview_book {
    display: block;
    text-align: center;
}

.book_poster {
    max-width: 300px;
    margin: 20px auto;
    border: 1px solid #bababa;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    text-align: center;
}

.book_poster img {
    width: 100%;
}
