.page_wrapper {
    border: solid #bababa 15px;
    margin-bottom: 25px;
    padding: 0 27px 0 25px;
}

.wrapper_movies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie_wraper {
    width: 300px;
    margin: 20px 0;
}

.movie_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie_card_img {
   width: 300px;
    height: 400px;
    object-fit: cover;
    margin-top: 10px;
    border: 1px solid #bababa;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

.movie_card_body {
    margin: 20px 0;
    text-align: center;
}

.movie_card_body h5 {
    color: #0c4e96;
}

.movie_card_text {
    text-align: center;
}

.btn_movie_edit {
    color: #fff;
    background-color: #007bff;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    width: 200px;
    margin: 15px auto;
    text-align: center;
    padding: 10px 30px;
    display: block;
}

.btn_movie_edit:hover {
    color: white;
    text-decoration: none;
    background-color: #0c4e96;
}
